<div class="well">
    <p class="text-center">
        <img {{bind-attr src='song.image'}} class="img-thumbnail img-rounded"/>
    <h4>{{song.name}}</h4>
    </p>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>Author</td>
            <td>{{song.author}}</td>
        </tr>
        <tr>
            <td>Genre</td>
            <td>{{song.genre}}</td>
        </tr>
        <tr>
            <td>BPM</td>
            <td>{{song.bpm}}</td>
        </tr>
        <tr>
            <td>BPM</td>
            <td>{{song.bpm}}</td>
        </tr>
        <tr>
            <td>Song Modes</td>
            <td>
            {{#each songMode in song.songModes}}
             {{songMode.mode.name}}&nbsp;
            {{/each}}
            </td>
        </tr>
        </tbody>
    </table>
</div>