<ol class="breadcrumb">
    <li>{{#link-to "pumper.index" model classNames='active'}}{{model.name}} {{model.lastName}} {{/link-to}}</li>
    <li class="active">Songs</li>
</ol>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>BPM</th>
        <th>Mode</th>
        <th>Difficulty</th>
        <th>Score</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    {{#each pumperSong in pumperSongs}}
        <tr>
            <td>{{pumperSong.songMode.song.name}}</td>
            <td>{{pumperSong.songMode.song.author}}</td>
            <td>{{pumperSong.songMode.song.genre}}</td>
            <td>{{pumperSong.songMode.song.BPM}}</td>
            <td>{{pumperSong.songMode.mode.name}}</td>
            <td>{{pumperSong.songMode.difficulty}}</td>
            <td>{{pumperSong.score}}</td>
            <td>{{pumperSong.grade}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>